[MASTER]
ignore = migrations,__pycache__,staticfiles,media,venv,.venv,env,.env
init-hook = 'import sys; sys.path.extend([".", "./grupos", "./project"])'

[MESSAGES CONTROL]
disable =
    missing-docstring,
    too-few-public-methods,
    import-error,
    invalid-name,
    no-self-use,
    duplicate-code,
    C0301,
    R0903,
    W0613,
    C0114,    # missing-module-docstring
    C0115,    # missing-class-docstring  
    C0116,    # missing-function-docstring
    W0719,    # broad-exception-raised
    R1732,    # consider-using-with

[REPORTS]
output-format = colorized

[FORMAT]
max-line-length = 120

[BASIC]
good-names = 
    i,j,k,ex,Run,_,
    db,id,url,app,
    pk,qs,request,user,obj,
    f,archivo,timestamp,carpeta

[TYPECHECK]
generated-members = 
    objects,
    DoesNotExist,
    MultipleObjectsReturned,
    pk,
    id

[DESIGN]
max-args=6
max-locals=12
min-public-methods=0